iframe {
	border: 1px solid;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
}
.row-fluid .photo_claim{
		display: none;
	}
@media (min-width: 1190px) {
	.row-fluid .photo_claim{
		display: block;
	}
}
.form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
label.inline{
  width: 100px;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
label.inline_h{
  width: 160px;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
label input[type="checkbox"]{
  float: left;
margin-left: -20px;
margin: 4px 0 0;
line-height: normal;
box-sizing: border-box;
padding: 0;
}
.block-content{
  overflow-x:auto;
}

.ตรวจสอบแล้ว{
  color: #820062;
}
.รับเรื่องแล้ว{
  color: #FF9933;
}
.นำส่งแล้ว{
  color: #248F24;
}
.เขียนใบนำส่งแล้ว{
  color: #0029A3;
}
.รับเชคแล้ว{
  color: red;
}
table.orange td{
    border:1px solid #000000!important;
}
table.orange th{
    border:2px solid #000000!important;
    color: black!important;
    background-color: #FF7918!important;
}
input{color:blue!important;}
input[disabled]{color:red!important;}
textarea{color:blue!important;}
.shop-category,.shop-subcategory{
  list-style-type:none;
}
.shop-subcategory.hide{
  display: none;
}
.shop-subcategory.show{
  display: block;
}

.product-item{
    position: relative;
    display: inline-block;
    width:150px;    
    margin: 10px;
    float: left;
  }
  .product-item.hide{
    display: none;
  }
  .product-item img{
    width:100%;  
  }
  .product-item .product-name{
    font-size: 20px;
  }
  .product-item .btn-success{
    position: absolute;
    top:0px;
    left: 0px;
  }
  .product-item .btn-danger{
    position: absolute;
    top:0px;
    right: 0px;
  }
  .product-item .btn-warning{
    position: absolute;
    top:0px;
    right: 0px;
  }
  .alert-popup{
    position: absolute;
    width: 150px;
    right:10%;
    top: 10%;
    display: block;
  }
  .hide{
    display: none;
  }
  .row-fluid .no-margin-left{margin-left: 0px;}